.work-container{
  padding: 4rem;
}
@media screen and (max-width: 768px) {
  .work-container{
    padding: 2rem;
  }
  
}
.view-more{
  max-width: 200px !important;
}
.work-text{
  text-align: left;
}
.work-text h2{
  font-size: 1.5rem;
  color: #00e6ac;
}

.Work-Img img{
  width: 100%;
}

.Work-Img p{
  text-align: left;
  color: #999;
  margin-top: 2rem;
}