*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body{
  background: #050A11;
}

.App {
  text-align: center;
}

.hero-section {
  color: white;
  padding: 0 20px;
}
.hero-content{
  top: 50%;
  transform: translateY(20%);
  transform-origin: top;
}
.hero-content h1 {
  font-size: 6rem;
}

/* .whyus h1{
  color: white;
  margin-top: 20%;
  font-size: 10rem;
} */

.whyus img{
  width: 100%;
  margin-top: 10%;
}

.analytics h1{
  font-size: 3.5rem;
}

.Discussion{
  font-size: 6rem;
  font-weight: 800;
  color: white;
}

.Discussion .works{
  color:  #0066ff;
}

.Discussion .creative{
  color:  blue;
}


@media screen and (max-width:768px) {
  .whyus img{
    margin-top: 20%;
  }
}